/*


.mainFxmlClass {
    -fx-background-color: black;
}
.node{
    -fx-background-color: black;

}
.table-view .row-selection{
    -fx-background: black;
}
.button {
  -fx-background-color: black;
  -fx-text-fill: white;
  -fx-border-color: white;
}
.label {
    
}
*/